[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = dirty
[submodule "bundle/delmitmate"]
	path = bundle/delmitmate
	url = git://github.com/Raimondi/delimitMate.git
	ignore = dirty
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git://github.com/docunext/closetag.vim.git
	ignore = dirty
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = dirty
[submodule "bundle/phpunit"]
	path = bundle/phpunit
	url = git://github.com/vim-scripts/phpunit.git
	ignore = dirty
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://git.wincent.com/command-t.git
	ignore = dirty
[submodule "bundle/buffergator"]
	path = bundle/buffergator
	url = git://github.com/vim-scripts/Buffergator.git
	ignore = dirty
[submodule "bundle/SuperTab"]
	path = bundle/SuperTab
	url = https://github.com/vim-scripts/SuperTab.git
	ignore = dirty
[submodule "bundle/taglist"]
	path = bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "bundle/VimDebugger"]
	path = bundle/VimDebugger
	url = https://github.com/taxilian/VimDebugger.git
[submodule "bundle/vst"]
	path = bundle/vst
	url = https://github.com/vim-scripts/VST.git
[submodule "bundle/phpcomplete"]
	path = bundle/phpcomplete
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
